# Python
__pycache__/
*.pyc

# Environment
.env
.env.local
.env.docker.local
.env.docker.production
venv/
.venv/

# Database
db.sqlite3
db.sqlite3-journal

# IDEs
.idea/
.vscode/

# Log files
logs/

# Temporary files
run/